@import "base";

body {
  color: black;
  font-family: iransans;
}

header {
  width: 100%;
  height: 100vh;
  background: url(../images/gallery-img-5.jpg) center no-repeat;
  background-size: cover;
  font-family: iransans;

  .header__container {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .header__nav {
    padding-top: 1rem;
    display: flex;
    align-content: center;
    align-items: center;

    .login {
      border: 1px solid $color-red;
      padding: 8px 14px;
      font-family: iransans;
      font-weight: bold;
      margin-left: 8px;
      background-color: transparent;
      border-radius: 5px;
      color: $color-red;
      transition: all 0.3s;

      &:hover {
        color: white;
        background-color: $color-red;
      }
    }

    .signup {
      background-color: $color-dark;
      border: 1px solid $color-dark;
      border-radius: 5px;
      font-family: iransans;
      font-weight: bold;
      color: white;
      padding: 8px;
      transition: all 0.3s;
      &:hover {
        color: $color-dark;
        background-color: transparent;
        border: 1px solid $color-dark;
      }
    }

    .header__logo {
      margin-right: auto;
      font-size: 70px;
      align-self: flex-end;
      color: $color-red;
    }
  }

  .header__iconDown {
    @include positionHedear(85%);
    color: $color-red;
    font-size: 32px;
  }
  .header__social {
    position: absolute;
    bottom: 30px;
    left: 12px;
    font-size: 24px;
    cursor: pointer;
    color: black;

    span {
      transition: all 0.3s;
      &:hover {
        color: $color-red;
      }
    }
  }
}

/*========================GALLERY===================*/
.gallery {
  background-color: white;
  color: black;
}
.gallery__container {
  height: 100vh;
  text-align: center;
  font-family: iransans;

  h2 {
    padding-top: 2rem;
    font-weight: bold;
  }
}

.gallery__cards {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  position: relative;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &:hover .card__overlay {
    left: 0;
    transition: all 0.5s;
  }

  .discount {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    padding-top: 12px;
    color: white;
    font-size: bold;
    font-family: iransans;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ef4123;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgba($color: black, $alpha: 0.7);
    h1 {
      padding-top: 1rem;
    }

    p {
      padding: 5px 0;
    }

    .card__btn {
      @include btnStyle;

      &:hover {
        @include btnStyleHover;
      }
    }
  }
}

/*========================APP PROMOTION===================*/
.appPromotion {
  text-align: center;
  background-color: rgb(66, 164, 167);
  padding: 2rem 0;
}

.appPromotion__container {
  display: grid;
  grid-template-columns: 70% 30%;
  // gap: 3rem;
  align-items: center;
  align-content: center;
  color: white;
  font-family: iransans;

  .appPromotion__img img {
    width: 340px;
  }
}

.appPromotion__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h1 {
    font-weight: bold;
  }

  p {
    margin: 12px 0 40px 0;
    font-weight: 500;
    font-size: 16px;
  }

  .apps {
    margin-top: 3rem;

    img {
      width: 200px;
      cursor: pointer;
    }
  }
}

.getNum {
  input {
    text-align: center;
    padding: 16px 40px;
    border-radius: 0 9px 9px 0;
    outline: none;
    font-size: 24px;
  }

  ::placeholder {
    color: lightgray;
  }

  button {
    padding: 16px 14px;
    margin-right: -12px;
    border-radius: 9px 0 0 9px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: $color-red;

    &:hover {
      background-color: rgba(241, 10, 10, 0.979);
    }
  }
}

/*========================BRANDS===================*/
.brands {
  padding-top: 3rem;
  background-color: white;
  color: black;
}
.brands__container {
  height: 70vh;
  text-align: center;
  font-family: iransans;

  h2 {
    padding-top: 1rem;
    font-weight: bold;
  }
}

.brands__cards {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.brand {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  border: 0;
  cursor: pointer;
  overflow: hidden;

  &:hover .brand__overlay {
    left: 0;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgba($color: black, $alpha: 0.7);

    h1 {
      padding: 2rem;
      font-size: 18px;
      a {
        color: white;
      }
    }
  }
}

/*========================FOOTER===================*/
footer {
  padding: 2rem 0;
  background-color: #383c47;
  color: white;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer__container h3 {
  padding-bottom: 1rem;
  font-size: 18px;
}

.apps {
  display: flex;

  img {
    cursor: pointer;
  }

  img + img {
    margin-right: 8px;
  }
}

.footer__feedback {
  padding-right: 2rem;
  a {
    color: white;
  }
  p {
    margin-bottom: 0;
  }
}

.footer__socials {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-right: 8px;
      cursor: pointer;

      i {
        font-size: 24px;
        transition: all 0.3s;

        &:hover {
          color: $color-red;
        }
      }
    }
  }
}

.footer__socials-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

/* =====================MEDIA QUERIES(TABLET)==================== */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 19px;
  }

  /*========================GALLERY===================*/

  .gallery__container {
    height: auto;
  }

  .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__overlay {
    background-color: rgba($color: black, $alpha: 0.5);
    left: 0;
    h1 {
      padding-top: 12px;
      font-size: 22px;
    }

    p {
      padding: 3px 0;
      font-size: 16px;
    }

    .card__btn {
      padding: 5px 10px;
      font-size: 14px;
    }
  }

  .card .discount {
    width: 35px;
    height: 35px;
    top: 8px;
    left: 8px;
    padding-top: 9px;
    font-weight: bold;
    font-size: 14px;
  }

  /*========================APP_PROMOTION===================*/
  .appPromotion__container {
    grid-template-columns: 1fr;
  }

  .appPromotion__info {
    .apps {
      margin-top: 2rem;
      flex-wrap: wrap;

      img {
        max-width: 150px;
      }
    }
  }

  .appPromotion__img img {
    max-width: 350px;
    margin-right: 85px;
  }

  .getNum {
    input {
      padding: 12px 30px;
      border-radius: 0 9px 9px 0;
      font-size: 18px;
    }

    button {
      padding: 12px 10px;
      margin-right: -12px;
      border-radius: 9px 0 0 9px;
      font-size: 18px;
    }
  }

  /*========================BRAND===================*/
  .brands__container {
    height: auto;
  }
  .brands__cards {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .brand__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgba($color: black, $alpha: 0.5);

    h1 {
      padding: 1rem;
      font-size: 16px;
      a {
        color: white;
      }
    }
  }

  /*========================FOOTER===================*/
  .footer__container {
    display: flex;
    align-items: baseline;

    h3 {
      padding-bottom: 9px;
      font-size: 14px;
    }
  }

  footer .apps {
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 8px;
    }

    img + img {
      margin-right: 0;
    }
  }

  .footer__socials {
    ul {
      li {
        margin-right: 5px;
        i {
          font-size: 18px;
        }
      }
    }
  }
  .footer__socials-menu {
    justify-content: center;
  }
}

/* =====================MEDIA QUERIES(PHONE)==================== */
@media screen and (max-width: 600px) {
  /*========================HEADER===================*/
  header {
    height: 100vh;
    .header__social {
      left: 50%;
      bottom: 0;
      transform: translate(-50%);
    }
    .header__container {
      height: 90vh;
    }

    .header__nav {
      justify-content: center;

      .header__logo {
        display: none;
      }
    }
  }

  /*========================APP-PROMITION===================*/
  .appPromotion__info {
    .apps {
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem;
      img {
        max-width: 130px;
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }

  .appPromotion__info {
    h1 {
      font-size: 24px;
    }
    p {
      padding: 12px 2rem 2rem 2rem;
    }
  }

  .getNum {
    display: flex;
    flex-direction: column;
    input {
      padding: 12px 15px;
      border-radius: 9px;
      margin-bottom: 8px;
    }
    button {
      padding: 8px 5px;
      margin-right: 0;
      border-radius: 9px;
      align-self: center;
    }
  }

  .appPromotion__img img {
    max-width: 300px;
    margin-right: 50px;
  }
  /*========================GALLERY===================*/
  .gallery__cards {
    grid-template-columns: 1fr;

    .card {
      margin: 0 1rem;
    }
  }

  .card__overlay {
    background-color: rgba($color: black, $alpha: 0.5);
    left: 0;
    h1 {
      padding-top: 2rem;
      font-size: 22px;
    }

    .card__btn {
      padding: 10px 16px;
      font-size: 14px;
    }
  }

  /*========================BRAND===================*/
  .brands__cards {
    grid-template-columns: 1fr;

    .card {
      margin: 0 1rem;
    }
  }
  .brand__overlay {
    h1 {
      padding: 2rem 0;
      font-size: 18px;
    }
  }
  /*========================FOOTER===================*/
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      padding-bottom: 5px;
    }

    .footer__feedback {
      padding: 2rem 0;
    }

    .footer__socials {
      li {
        margin-right: 12px;
        i {
          font-size: 22px;
        }
      }
    }
  }
}
